footer {
  background-image: $dark-grey;
  width: 100%;
  background-size: 100%;
}
.footer__div {
  width: 100%;
  padding: 84px 165px 0px;
  margin-top: 80px;
  .footer__h2 {
    color: $white;
    font-family: Space Grotesk;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.15625rem;
    margin-bottom: 2.25rem;
  }
  .footer__p {
    width: 27.8125rem;
    color: $grey;
    font-family: Space Grotesk;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 155.556%;
  }
}
