*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  // outline: ;
  // outline-offset: ;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  object-fit: cover; /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $black-color;
  font-family: $site-fonts;
  padding-right: 5rem;
  padding-left: 5rem;
  background-image: url("../../images/svg/home-decor.svg"),
    url("../../images/svg/home-decor.svg");

  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 54.5rem) calc(11.8rem),
    calc(50% + 76.9rem) calc(112.4rem);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
